* {
    margin: 0px;
}

body * {
    font-family: Nunito Sans;
    box-sizing: border-box;
}

header {
    background-color: #131313;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.box {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

.header-content {
    justify-content: space-around;
    height: 83px;
    align-items: center;
}

.logo {
    color: #E3B873;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;
}

.ul_link {
    padding: 0px;
    width: 445px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.header-nav_link {
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.header-nav_link:hover {
    color: #E3B873;
}

.call {
    width: 285px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.call_link {
    text-decoration: underline;
    color: #E3B873;
}

.button {
    border: 0px;
    padding: 13px 33px;
    color: #FFFFFF;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;
    font-family: Nunito Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

.section_1 {
    background-image: url("../images/main.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 0 355px rgba(0, 0, 0, 0.6) inset;
    height: 707px;
}

.flex-section_1 {
    padding-top: 194px;
    display: flex;
    padding-left: 134px;
    flex-direction: column;
}

.button_calc {
    border: 1px solid white;
    background: rgba(0, 0, 0, 0.0);
    box-shadow: none;
    width: 207px;
    height: 51px;
    border-radius: 2px;
    padding: 19px 40px;
}

.button_submit {
    padding: 19px 22px;
    margin-left: 20px;
}

.button_calc:hover {
    background: #E3B873;
    border: 1px solid #E3B873;
}

.main-h1 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 53px;
    color: #FFFFFF;
    text-transform: uppercase;
    max-width: 550px;
    margin-bottom: 20px;
}

.main-p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: #FFFFFF;
    max-width: 550px;
    margin-bottom: 20px;
}

.rostov {
    color: #E3B873;
}

.section_2 {
    background: #131313;
    height: 1074px;
}

.ul_section_2 {
    width: 623px;
}

.link_jk {
    text-decoration: none;
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    padding-bottom: 6.68px;
    color: rgba(255, 255, 255, 0.3);
}

.link_jk:hover {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.box_column {
    flex-direction: column;
    padding: 107px 134.55px 0px 134.45px;
}

.div_example {
    width: 50%;
    margin-left: 492px;
}

.example div {
    width: 50%;
    margin-bottom: 34px;
}

.section_2 h2 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 34px;
    margin-top: 45px;
    margin-right: 239px;
}

.example h3 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #E3B873;
    margin-bottom: 9px;
}

.section_2 p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;
    width: 442px;
    margin-bottom: 42px;
    margin-right: 50px;
}

.example span {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.image_2 {
    margin-top: 45px;
}

.slider {
    margin-top: 79.64px;
    align-items: center;
}

.slider button:nth-child(n+2):nth-child(-n+4) {
    width: 9.6px;
    height: 9.6px;
    margin-right: 17.5px;
    padding: 0;
    border: none;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}

.slider button:nth-child(n+2):nth-child(-n+4):hover {
    background: #FFFFFF;
    cursor: pointer;
    outline: none;
}

.slider button:first-child {
    width: 41px;
    height: 13px;
    margin-right: 29.5px;
    padding: 0;
    border: none;
    background: url(../images/left_arrow.svg);
    cursor: pointer;
    outline: none;
}

.slider button:last-child {
    width: 41px;
    height: 13px;
    margin-left: 12px;
    padding: 0;
    border: none;
    background: url(../images/right_arrow.svg);
    cursor: pointer;
    outline: none;
}

.section_3 {
    margin-top: -300px;
    height: 1031px;
}

.box_section_3 {
    flex-direction: column;
    padding: 0px 134.55px 0px 134.45px;
    align-items: center;
}

.section_3 h3 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.camera::before,
.camera::after {
    content: "";
    width: 32px;
    height: 1.54px;
    background: #E3B873;
    border-radius: 30px;
    margin: 0px 7.76px;
}

.camera {
    align-items: center;
    justify-content: center;
    margin: 12.79px auto 31.21px auto;
}

.player {
    background-image: url('../images/repairs.png');
    box-shadow: 0 0 0 355px rgba(0, 0, 0, 0.6) inset;
    width: 817px;
    height: 434px;
    margin: 0px auto 62.5px;
    justify-content: center;
    align-items: center;

}

.player button {
    background: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    border-radius: 45px;
    width: 85px;
    height: 85px;
    padding: 0;
    border: none;
    display: flex;
    justify-content: center;
    padding-left: 6px;
    cursor: pointer;
    outline: none;
}

.box_section_3 p {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
    width: 681px;
    height: 130.91px;
    margin-bottom: 127.92px;
}

.box_section_3 p::before {
    content: "";
    width: 55px;
    height: 1.54px;
    background: #E3B873;
    border-radius: 30px;
    margin: 0px 7.76px;
    display: flex;
    margin: 0 auto 34.64px auto;
}

.input_box {
    width: 769px;
    height: 51px;
    margin-bottom: 33.24px;
}

.lab1 {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}

.input {
    width: 231px;
    height: 17px;
    border: 0px;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    padding: 0px;
}

input::-webkit-input-placeholder {
    color: #363636;
}

.lab1::before {
    content: "Name";
    margin-bottom: 4px;
}

.lab2::before {
    content: "Phone";
    margin-bottom: 4px;
}

.lab1::after {
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    content: "";
    margin-top: 7px;
}

.checkbox1 {
    display: flex;
    justify-content: center;
}

.checkbox12 {
    display: flex;
    align-items: center;
    position: relative;
}

/*TODO привязать отображение по состоянию checked*/
.checkbox1 input {
    display: none;
}

.checkbox1 div::before {
    content: "";
    background: #E3B873;
    border-radius: 1px;
    height: 18px;
    width: 18px;
}

.checkbox1 div::after {
    content: url('../images/V_check.svg');
    left: 4px;
    top: -1px;
    position: absolute;
}

.source {
    margin-left: 8.62px;
}

.button__send {
    width: 200px;
    height: 51px;
    font-style: normal;
    font-size: 13px;
    line-height: 27px;
}

.section_4 {
    height: 733px;
}

.box_section_4 {
    flex-direction: column;
    padding: 0px 134.55px 0px 134.45px;
    align-items: center;
}

.section_4 h3 {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}

.redecor {
    background: url('../images/types_1.jpg');
    width: 392px;
    height: 421px;
}

.overhau {
    background: url('../images/types_2.jpg');
    width: 392px;
    height: 421px;
}

.designer_repair {
    background: url('../images/types_3.jpg');
    width: 392px;
    height: 421px;
}

.h_redecor,
.h_overhau,
.h_designer_repair {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
    margin: 294px 31px 0px 31px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    padding: 25px 0px 0px 34px;
    height: 286px;
}

.ul_redecor,
.ul_overhau,
.ul_designer_repair {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 27px;
    color: #959595;
    margin-left: 0px;
    padding-left: 0px;
    list-style-position: inside
}

.price_redecor,
.price_overhau,
.price_designer_repair {
    background: #E3B873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 228px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -26px;
}

.types_of_repair {
    display: flex;
    width: 1236px;
    justify-content: space-between;
}